In [73]:
# ! pip install catboost

In [74]:
import pandas as pd
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [75]:
# Load the dataset
data = pd.read_csv('../Dataset/employees.csv')  # Replace 'your_dataset.csv' with your actual dataset file path

# Drop unnecessary columns
data.drop(['Employee_No', 'Employee_Code', 'Name','Date_Resigned','Date_Joined','Inactive_Date'], axis=1, inplace=True)

# Drop rows with missing values in Marital_Status during training
data_train = data.dropna(subset=['Marital_Status'])

In [76]:
# get a copy from data
data_copy = data.copy()

In [77]:
data.shape

(997, 13)

In [78]:
data_train.head()

,Title,Gender,Religion_ID,Marital_Status,Designation_ID,Status,Reporting_emp_1,Reporting_emp_2,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,Mr,Male,1,Married,24,Active,\N,\N,Staff,Permanant,Buddhist,Driver,1965
1,Mr,Male,1,Married,24,Active,\N,\N,Staff,Permanant,Buddhist,Driver,1973
2,Mr,Male,1,Married,23,Inactive,\N,\N,Staff,Permanant,Buddhist,Account Clerk,1974
3,Ms,Female,4,Married,40,Inactive,\N,\N,Staff,Permanant,Catholic,Purchasing Officer,1974
4,Mr,Male,1,Married,7,Active,\N,\N,Staff,Permanant,Buddhist,Store Keeper,1980

In [79]:
# get missing value count in data columns
data_train.isnull().sum()

Title                  0
Gender                 0
Religion_ID            0
Marital_Status         0
Designation_ID         0
Status                 0
Reporting_emp_1        0
Reporting_emp_2        0
Employment_Category    0
Employment_Type        0
Religion               0
Designation            0
Year_of_Birth          0
dtype: int64

In [80]:
# Separate features (X) and target variable (y)
X = data_train.drop('Marital_Status', axis=1)
y = data_train['Marital_Status']

In [81]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [82]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((744, 12), (186, 12), (744,), (186,))

In [83]:
# Initialize CatBoost Classifier
model = CatBoostClassifier(iterations=100, depth=6, learning_rate=0.1, loss_function='Logloss')

In [84]:
# Fit the model
model.fit(X_train, y_train, cat_features=list(X_train.select_dtypes(include=['object']).columns))

0:	learn: 0.6596339	total: 10.4ms	remaining: 1.02s
1:	learn: 0.6333796	total: 35.1ms	remaining: 1.72s
2:	learn: 0.6097135	total: 66ms	remaining: 2.13s
3:	learn: 0.5897033	total: 93.9ms	remaining: 2.25s
4:	learn: 0.5728385	total: 104ms	remaining: 1.98s
5:	learn: 0.5570585	total: 130ms	remaining: 2.03s
6:	learn: 0.5431224	total: 155ms	remaining: 2.06s
7:	learn: 0.5298011	total: 185ms	remaining: 2.13s
8:	learn: 0.5206983	total: 212ms	remaining: 2.14s
9:	learn: 0.5123542	total: 220ms	remaining: 1.98s
10:	learn: 0.5052597	total: 249ms	remaining: 2.01s
11:	learn: 0.4969067	total: 274ms	remaining: 2.01s
12:	learn: 0.4908292	total: 300ms	remaining: 2s
13:	learn: 0.4860390	total: 326ms	remaining: 2s
14:	learn: 0.4793273	total: 348ms	remaining: 1.97s
15:	learn: 0.4756839	total: 360ms	remaining: 1.89s
16:	learn: 0.4715258	total: 381ms	remaining: 1.86s
17:	learn: 0.4680979	total: 417ms	remaining: 1.9s
18:	learn: 0.4663680	total: 427ms	remaining: 1.82s
19:	learn: 0.4617820	total: 449ms	remaining: 1.8s
20:	learn: 0.4581879	total: 472ms	remaining: 1.77s
21:	learn: 0.4562670	total: 495ms	remaining: 1.75s
22:	learn: 0.4538881	total: 519ms	remaining: 1.74s
23:	learn: 0.4503963	total: 536ms	remaining: 1.7s
24:	learn: 0.4469477	total: 562ms	remaining: 1.69s
25:	learn: 0.4453696	total: 574ms	remaining: 1.63s
26:	learn: 0.4436909	total: 595ms	remaining: 1.61s
27:	learn: 0.4407779	total: 617ms	remaining: 1.59s
28:	learn: 0.4391157	total: 659ms	remaining: 1.61s
29:	learn: 0.4385919	total: 682ms	remaining: 1.59s
30:	learn: 0.4362621	total: 715ms	remaining: 1.59s
31:	learn: 0.4356273	total: 739ms	remaining: 1.57s
32:	learn: 0.4346374	total: 761ms	remaining: 1.54s
33:	learn: 0.4324881	total: 787ms	remaining: 1.53s
34:	learn: 0.4318308	total: 811ms	remaining: 1.51s
35:	learn: 0.4308827	total: 833ms	remaining: 1.48s
36:	learn: 0.4288660	total: 860ms	remaining: 1.46s
37:	learn: 0.4283546	total: 882ms	remaining: 1.44s
38:	learn: 0.4263602	total: 905ms	remaining: 1.42s
39:	learn: 0.4260819	total: 915ms	remaining: 1.37s
40:	learn: 0.4256094	total: 937ms	remaining: 1.35s
41:	learn: 0.4253182	total: 947ms	remaining: 1.31s
42:	learn: 0.4250228	total: 961ms	remaining: 1.27s
43:	learn: 0.4239594	total: 982ms	remaining: 1.25s
44:	learn: 0.4232769	total: 1s	remaining: 1.23s
45:	learn: 0.4227416	total: 1.02s	remaining: 1.2s
46:	learn: 0.4225274	total: 1.03s	remaining: 1.16s
47:	learn: 0.4216302	total: 1.06s	remaining: 1.15s
48:	learn: 0.4209131	total: 1.09s	remaining: 1.13s
49:	learn: 0.4201716	total: 1.11s	remaining: 1.11s
50:	learn: 0.4197955	total: 1.13s	remaining: 1.08s
51:	learn: 0.4197686	total: 1.15s	remaining: 1.06s
52:	learn: 0.4196519	total: 1.17s	remaining: 1.04s
53:	learn: 0.4194230	total: 1.19s	remaining: 1.02s
54:	learn: 0.4188028	total: 1.21s	remaining: 993ms
55:	learn: 0.4187551	total: 1.23s	remaining: 963ms
56:	learn: 0.4178257	total: 1.25s	remaining: 941ms
57:	learn: 0.4153278	total: 1.27s	remaining: 920ms
58:	learn: 0.4129530	total: 1.29s	remaining: 898ms
59:	learn: 0.4115215	total: 1.31s	remaining: 876ms
60:	learn: 0.4103113	total: 1.34s	remaining: 854ms
61:	learn: 0.4090516	total: 1.36s	remaining: 832ms
62:	learn: 0.4089952	total: 1.38s	remaining: 809ms
63:	learn: 0.4088512	total: 1.39s	remaining: 780ms
64:	learn: 0.4081003	total: 1.41s	remaining: 758ms
65:	learn: 0.4056969	total: 1.43s	remaining: 736ms
66:	learn: 0.4043310	total: 1.45s	remaining: 715ms
67:	learn: 0.4034317	total: 1.47s	remaining: 694ms
68:	learn: 0.4020894	total: 1.5s	remaining: 673ms
69:	learn: 0.4008571	total: 1.52s	remaining: 654ms
70:	learn: 0.4002297	total: 1.55s	remaining: 633ms
71:	learn: 0.3996581	total: 1.57s	remaining: 611ms
72:	learn: 0.3980447	total: 1.59s	remaining: 589ms
73:	learn: 0.3971898	total: 1.61s	remaining: 568ms
74:	learn: 0.3957799	total: 1.64s	remaining: 546ms
75:	learn: 0.3941598	total: 1.66s	remaining: 524ms
76:	learn: 0.3935926	total: 1.68s	remaining: 502ms
77:	learn: 0.3929685	total: 1.73s	remaining: 487ms
78:	learn: 0.3915484	total: 1.76s	remaining: 467ms
79:	learn: 0.3915286	total: 1.79s	remaining: 447ms
80:	learn: 0.3906568	total: 1.81s	remaining: 425ms
81:	learn: 0.3897483	total: 1.83s	remaining: 402ms
82:	learn: 0.3897069	total: 1.84s	remaining: 377ms
83:	learn: 0.3888609	total: 1.86s	remaining: 355ms
84:	learn: 0.3879372	total: 1.89s	remaining: 333ms
85:	learn: 0.3869728	total: 1.91s	remaining: 311ms
86:	learn: 0.3863984	total: 1.93s	remaining: 289ms
87:	learn: 0.3862177	total: 1.95s	remaining: 266ms
88:	learn: 0.3857879	total: 1.98s	remaining: 244ms
89:	learn: 0.3844871	total: 2s	remaining: 222ms
90:	learn: 0.3844240	total: 2.02s	remaining: 200ms
91:	learn: 0.3842875	total: 2.04s	remaining: 178ms
92:	learn: 0.3842250	total: 2.07s	remaining: 156ms
93:	learn: 0.3842004	total: 2.09s	remaining: 133ms
94:	learn: 0.3839090	total: 2.11s	remaining: 111ms
95:	learn: 0.3835626	total: 2.13s	remaining: 88.8ms
96:	learn: 0.3831740	total: 2.15s	remaining: 66.6ms
97:	learn: 0.3826296	total: 2.17s	remaining: 44.4ms
98:	learn: 0.3825128	total: 2.2s	remaining: 22.2ms
99:	learn: 0.3816183	total: 2.22s	remaining: 0us

In [85]:
# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')
# Generate classification report for the best model
print(classification_report(y_test, y_pred))

Accuracy: 0.85
              precision    recall  f1-score   support

     Married       0.86      0.92      0.89       124
      Single       0.81      0.71      0.76        62

    accuracy                           0.85       186
   macro avg       0.84      0.81      0.82       186
weighted avg       0.85      0.85      0.85       186

In [86]:
# import pandas as pd
# from catboost import CatBoostClassifier
# from sklearn.model_selection import train_test_split, GridSearchCV
# from sklearn.metrics import accuracy_score, classification_report

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize CatBoost Classifier
# model = CatBoostClassifier()

# # Define the hyperparameter grid for tuning
# param_grid = {
#     'iterations': [100, 200, 300],
#     'depth': [4, 6, 8],
#     'learning_rate': [0.05, 0.1, 0.2]
# }

# # Initialize GridSearchCV with CatBoost and the hyperparameter grid
# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, scoring='accuracy', verbose=2)

# # Fit the GridSearchCV to find the best hyperparameters
# grid_search.fit(X_train, y_train, cat_features=list(X_train.select_dtypes(include=['object']).columns))

# # Get the best hyperparameters
# best_params = grid_search.best_params_
# print("Best Hyperparameters:", best_params)

# # Use the best model from GridSearchCV
# best_model = grid_search.best_estimator_

# # Make predictions
# y_pred = best_model.predict(X_test)

# # Evaluate the best model
# accuracy = accuracy_score(y_test, y_pred)
# print(f'Accuracy: {accuracy:.2f}')

# # Generate classification report for the best model
# print(classification_report(y_test, y_pred))

In [87]:
missing_marital_status = data[data['Marital_Status'].isnull()]
X_missing = missing_marital_status.drop('Marital_Status', axis=1)
imputed_marital_status = model.predict(X_missing)

In [88]:
data.loc[data['Marital_Status'].isnull(), 'Marital_Status'] = imputed_marital_status

In [89]:
data.head()

,Title,Gender,Religion_ID,Marital_Status,Designation_ID,Status,Reporting_emp_1,Reporting_emp_2,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,Mr,Male,1,Married,24,Active,\N,\N,Staff,Permanant,Buddhist,Driver,1965
1,Mr,Male,1,Married,24,Active,\N,\N,Staff,Permanant,Buddhist,Driver,1973
2,Mr,Male,1,Married,23,Inactive,\N,\N,Staff,Permanant,Buddhist,Account Clerk,1974
3,Ms,Female,4,Married,40,Inactive,\N,\N,Staff,Permanant,Catholic,Purchasing Officer,1974
4,Mr,Male,1,Married,7,Active,\N,\N,Staff,Permanant,Buddhist,Store Keeper,1980

In [90]:
# print Marital_Status column
print(data['Marital_Status'])

0      Married
1      Married
2      Married
3      Married
4      Married
        ...
992     Single
993     Single
994     Single
995     Single
996    Married
Name: Marital_Status, Length: 997, dtype: object

In [91]:
#print Marital_Status unique values
print(data['Marital_Status'].unique())

['Married' 'Single']

In [92]:
data.shape

(997, 13)

In [93]:
data_copy.shape

(997, 13)

In [96]:
# write data to csv file
data.to_csv('../Dataset/pre_processed/employees_Marital_Status_imputed.csv', index=False)