In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
marvellous = pd.read_csv('../dataset/employees.csv')

In [3]:
marvellous.head()

,Employee_No,Employee_Code,Name,Title,Gender,Religion_ID,Marital_Status,Designation_ID,Date_Joined,Date_Resigned,Status,Inactive_Date,Reporting_emp_1,Reporting_emp_2,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,347,6,Myrl Bechtelar MD,Mr,Male,1,Married,24,12/8/1993,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Driver,1965
1,348,33,Francis Mraz,Mr,Male,1,Married,24,3/14/1995,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Driver,1973
2,349,53,Mr Emmet Blick Jr,Mr,Male,1,Married,23,1/27/1988,6/28/2021,Inactive,6/28/2021,\N,\N,Staff,Permanant,Buddhist,Account Clerk,1974
3,351,77,Mr Nelson Braun PhD,Ms,Female,4,Married,40,10/1/1999,1/31/2022,Inactive,1/31/2022,\N,\N,Staff,Permanant,Catholic,Purchasing Officer,1974
4,352,88,Maximillian Hand,Mr,Male,1,Married,7,1/26/2001,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Store Keeper,1980

In [4]:
marvellous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_No          997 non-null    int64
 1   Employee_Code        997 non-null    int64
 2   Name                 997 non-null    object
 3   Title                997 non-null    object
 4   Gender               997 non-null    object
 5   Religion_ID          997 non-null    int64
 6   Marital_Status       930 non-null    object
 7   Designation_ID       997 non-null    int64
 8   Date_Joined          997 non-null    object
 9   Date_Resigned        997 non-null    object
 10  Status               997 non-null    object
 11  Inactive_Date        997 non-null    object
 12  Reporting_emp_1      997 non-null    object
 13  Reporting_emp_2      997 non-null    object
 14  Employment_Category  997 non-null    object
 15  Employment_Type      997 non-null    object
 16  Religion             997 non-null    object
 17  Designation          997 non-null    object
 18  Year_of_Birth        997 non-null    object
dtypes: int64(4), object(15)
memory usage: 148.1+ KB

In [5]:
marvellous.isnull().sum()

Employee_No             0
Employee_Code           0
Name                    0
Title                   0
Gender                  0
Religion_ID             0
Marital_Status         67
Designation_ID          0
Date_Joined             0
Date_Resigned           0
Status                  0
Inactive_Date           0
Reporting_emp_1         0
Reporting_emp_2         0
Employment_Category     0
Employment_Type         0
Religion                0
Designation             0
Year_of_Birth           0
dtype: int64

In [6]:
numerical_columns = marvellous.select_dtypes(include=[np.number]).columns.tolist()
categorical_columns = marvellous.select_dtypes(exclude=[np.number]).columns.tolist()

In [10]:
marvellous.columns

Index(['Employee_No', 'Employee_Code', 'Name', 'Title', 'Gender',
       'Religion_ID', 'Marital_Status', 'Designation_ID', 'Date_Joined',
       'Date_Resigned', 'Status', 'Inactive_Date', 'Reporting_emp_1',
       'Reporting_emp_2', 'Employment_Category', 'Employment_Type', 'Religion',
       'Designation', 'Year_of_Birth'],
      dtype='object')

In [12]:
# marvellous['Date_Joined'] = pd.to_datetime(marvellous['Date_Joined'])
marvellous['Year_of_Birth'] = pd.to_numeric(marvellous['Year_of_Birth'], errors='coerce')
marvellous['Year_of_Birth','Date_Joined'].head()

KeyError: ('Year_of_Birth', 'Date_Joined')